.articles {
    height: 60vh;
    background-color: rgb(244,245,247);
}

.article-header {
    padding: 150px 0 0 110px;

    .article_header {
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 20px;
    }
}