.articles {
    // height: 70vh;
    background-color: rgb(244,245,247);
}

.article-header {
    padding: 100px 0 50px 110px;

    .article_header {
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 20px;
    }
}