.body {
    display: flex;
    width: 100%;
    // height: 70vh;
    background-color: #dfd0d0;
}

.image-body {
    background-image: url(../../Icon/bg-intro-desktop.svg);
    background-position: left;
    background-repeat: no-repeat;
}